</div>
<div class="push"></div>
  <footer class="footer">
    <aside class="wrap">
      <div class="footer-col-4">
        <h5>Alex Hagen</h5>
        <p class="aside">Graduate Researcher - Purdue University Nuclear Engineering</p>
      </div>
      <div class="footer-col-2">
        <span class="logo">
          <svg viewBox="0 0 60 60">
            {% include logo.svg %}
          </svg>
        </span>
      </div>

      <div class="footer-col-4 right">
        <div class="widget-container">
          <h5 class="updates">Latest Updates</h5>
          <ul class="commits-list"></ul>
        </div>
      </div>

    </aside>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>
  <script src="{{ site.url }}/js/jquery.timeago.js"></script>
  <script src="{{ site.url }}/js/main.js"></script>
  {% if page.search %}
  <script src="{{ site.url }}/js/classie.js"></script>
		<script>
			(function() {
				var morphSearch = document.getElementById( 'morphsearch' ),
					input = morphSearch.querySelector( 'input.morphsearch-input' ),
					ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
					isOpen = isAnimating = false,
					// show/hide search area
					toggleSearch = function(evt) {
						// return if open and the input gets focused
						if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

						var offsets = morphsearch.getBoundingClientRect();
						if( isOpen ) {
							classie.remove( morphSearch, 'open' );

							// trick to hide input text once the search overlay closes
							// todo: hardcoded times, should be done after transition ends
							if( input.value !== '' ) {
								setTimeout(function() {
									classie.add( morphSearch, 'hideInput' );
									setTimeout(function() {
										classie.remove( morphSearch, 'hideInput' );
										input.value = '';
									}, 300 );
								}, 500);
							}

							input.blur();
						}
						else {
							classie.add( morphSearch, 'open' );
						}
						isOpen = !isOpen;
					};

				// events
				input.addEventListener( 'focus', toggleSearch );
				ctrlClose.addEventListener( 'click', toggleSearch );
				// esc key closes search overlay
				// keyboard navigation events
				document.addEventListener( 'keydown', function( ev ) {
					var keyCode = ev.keyCode || ev.which;
					if( keyCode === 27 && isOpen ) {
						toggleSearch(ev);
					}
				} );

			})();
		</script>

    <script>
    $(function(){
      var $commitsList = $('#recent-repos');
      var keyValuePairs = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&");
      var x, params = {};
      $.each(keyValuePairs, function(i, keyValue){
        x = keyValue.split('=');
        params[x[0]] = x[1];
      });

    params.owner = "alexhagen";

      $.ajax( "https://api.github.com/users/" + params.owner + "/events?callback=callback", {
        dataType: 'jsonp',
        type: 'get',
        data: {
          per_page: params.limit || 20
        },
        success: function(response, textStatus, jqXHR) {
          var data = response.data;
          var repos = [];
          $.each(data, function(i, commit){
            if ( $.inArray(commit.repo.name,repos) < 0 ) {
              var message = '';
              if (commit.payload.size > 0 ) {
                message = "<p class='recent-repos-message'>"+commit.payload.commits[0].message+"</p>";
              }
              $('<a class="dummy-media-object" href="'+commit.repo.url+'"><h4 class="recent-repos-name">'+commit.repo.name+'</h4>'+message+'<p class="recent-repos-time">'+$.timeago(commit.created_at)+'</p></a>').appendTo( $commitsList );
              // add that into the array so we know it's already been discussed
              repos.push( commit.repo.name );
            }
          });
        }
      });
    });
    </script>

    <!-- Script to filter by language when clicked -->
    <script>
    $( document ).ready(function() {
      $('.language').click(function() {
        var keyword = $(this).attr('keyword');
        $('div.code[keyword*="'+keyword+'"]').hide( "slow", function() {
          alert( "Animation complete." );
        });
      });
    });
    </script>

{% endif %}

  </body>

  <script type="text/javascript">
  var waypoints1 = $('h1').waypoint({
    handler: function(direction) {
      $('.bc-title').text('AH');
      $('.bc-h1').text(" > " + $(this).attr("abbr"));
    },
    offset: 59
  })
  var waypoints2 = $('h2').waypoint({
    handler: function(direction) {
      $('.bc-title').text('AH');
      $('.bc-h2').text(" > " + $(this).attr("abbr"));
    },
    offset: 59
  })
</script>
</html>
