<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% include mathjaxconfig.js %}

<meta property="og:locale" content="en_US">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 120  }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">


<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
<link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
-->



<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Load the waypoints -->
<script type="text/javascript" src="{{ site.url}}/js/waypoints.min.js"></script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<div id="bump">
  <body class="">
    <header class="site-header darken">
      <div class="wrap">
        <hgroup>
          <a href="/">
                <span class="logo">
                  <svg viewBox="0 0 60 60">
                    {% include logo.svg %}
                  </svg>
                </span>
            <h1 class="title">{{ site.title }}</h1>
          </a>
          <a href=""><h1 class="breadcrumb bc-title"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h1"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h2"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h3"></h1></a>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            {% for link in site.links %}
                <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}

          </ul>
        </nav>
      </div>
    </header>

<!-- MORPHSEARCH -->

{% if page.search %}
  <div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
      <input class="morphsearch-input" type="search" placeholder="Search..."/>
      <button class="morphsearch-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content">
      <div class="dummy-column">
        <h2>Languages</h2>
        {% capture languages %}
          {% assign last = '' %}
          {% for code in page.codes %}
            {% unless last == code.type %}
              {{ code.type }};
              {% assign last = code.type %}
            {% endunless %}
          {% endfor %}
        {% endcapture %}
        {% assign sortedlanguages = languages | split: ';' | sort %}
        {% for language in sortedlanguages %}
          <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
            <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
            <h3>{{ language }}</h3>
          </a>
        {% endfor %}
      </div>
      <div class="dummy-column">
        <h2>Keywords</h2>
        <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/05/page-preloading-effect/">
          <img src="img/thumbs/PagePreloadingEffect.png" alt="PagePreloadingEffect"/>
          <h3>Page Preloading Effect</h3>
        </a>
      </div>
      <div class="dummy-column">
        <h2>Recent</h2>
        <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/">
          <img src="img/thumbs/TooltipStylesInspiration.png" alt="TooltipStylesInspiration"/>
          <h3>Tooltip Styles Inspiration</h3>
        </a>
      </div>
    </div><!-- /morphsearch-content -->
<span class="morphsearch-close"></span>
</div><!-- /morphsearch -->
{% endif %}
