<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% include mathjaxconfig.js %}

<meta property="og:locale" content="en_US">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 120  }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/img/favicon.ico?v=2" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon.ico?v=2" />

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.css" media="all">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Load the waypoints -->
<script type="text/javascript" src="{{ site.url}}/js/waypoints.min.js"></script>

<!-- Implement Fuzzy Search -->
<script type="text/javascript" src="{{ site.url }}/assets/js/fuse.min.js"></script>


<div id="bump">
  <body class="">
    <header class="site-header darken">
      <div class="wrap">
        <hgroup>
          <a href="/">
                <span class="logo">
                  <svg viewBox="0 0 60 60">
                    {% include logo.svg %}
                  </svg>
                </span>
            <h1 class="title">{{ site.title }}</h1>
          </a>
          <a href=""><h1 class="breadcrumb bc-title"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h1"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h2"></h1></a>
          <a href=""><h1 class="breadcrumb bc-h3"></h1></a>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            {% for link in site.links %}
                <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}

          </ul>
        </nav>
      </div>
    </header>

<!-- MORPHSEARCH -->

{% if page.search %}
  <div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
      <input class="morphsearch-input" type="search" placeholder="Search..."/>
      <button class="morphsearch-filter"></button>
      <button class="morphsearch-submit" type="submit"></button>
    </form>
    <div class="morphsearch-content">
      <div class="dummy-column">
        <h2>Languages</h2>
        {% assign str = '' %}
        {% assign array = str | split:';' | sort %}
        {% capture languages %}{% for code in page.codes %}{% unless array contains code.type %}{{ code.type }};{% capture languagesstr %}{{ languagesstr }};{{ code.type }}{% endcapture %}{% assign array = languagesstr | split: ';' | sort %}{% endunless %}{% endfor %}{% endcapture %}
        {% assign sortedlanguages = languages | split: ';' | sort %}
        {% for language in sortedlanguages %}
          {% unless language == '' %}
          <a class="dummy-media-object language" keyword="{{ language }}">
            <img class="round" src="{{ site.url }}/assets/img/{{ language }}.png" alt="{{ language }}"/>
            <h3>{{ language }}</h3>
          </a>
          {% endunless %}
        {% endfor %}
      </div>
      <div class="dummy-column">
        <h2>Keywords</h2>
        {% assign str = '' %}
        {% assign array = str | split:';' | sort %}
        {% capture keywords %}{% for code in page.codes %}{% assign localarray = code.keywords | split:',' | sort %}{% for keyword in localarray %}{% unless array contains keyword %}{{ keyword }};{% capture keywordsstr %}{{ keywordsstr }};{{ keyword }}{% endcapture %}{% assign array = keywordsstr | split: ';' | sort %}{% endunless %}{% endfor %}{% endfor %}{% endcapture %}
        {% assign sortedkeywords = keywords | split: ';' | sort %}
        {% for keyword in sortedkeywords %}
          {% unless keyword == '' %}
          <a class="dummy-media-object keyword" keyword="{{ keyword }}">
            <h4>{{ keyword }}</h4>
          </a>
          {% endunless %}
        {% endfor %}
      </div>
      <div id="recent-repos" class="dummy-column recent-repos">
        <h2>Recent</h2>
        <!--<a class="dummy-media-object" href="http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/">
          <img src="img/thumbs/TooltipStylesInspiration.png" alt="TooltipStylesInspiration"/>
          <h3>Tooltip Styles Inspiration</h3>
        </a>-->
      </div>
    </div><!-- /morphsearch-content -->
<span class="morphsearch-close"></span>
</div><!-- /morphsearch -->
{% endif %}
